# KIV/OPIS Oborový projekt IS

## Příprava dat

Načteme soubor s daty z klinické studie srdečních nemocí.

In [1]:
import pandas as pd
import time

t = time.time()
df = pd.read_excel('fmpl-sits-dataset.xlsx', sheet_name='all', header=8, index_col=None, na_values=['NA'], usecols='B:C,E:BY')
elapsed = time.time() - t

print('Excel load time: {:.2f} seconds'.format(elapsed))
print('Number of rows: {}'.format(df.shape[0]))

Excel load time: 38.46 seconds
Number of rows: 2890

Do proměnných uložím názvy sloupců, se kterými budu pracovat.
Jedná se o názvy sloupců z datasetu, ale i o nové názvy sloupců, které budu teprve vytvářet.

In [2]:
# General
AGE = 'age'
SEX = 'sex'
BMI = 'BMI'
HEIGHT = 'heightvalue'
WEIGHT = 'weight'
NIHSS = 'NIHSS baseline'
NIHSS_DISCHARGE = 'NIHSS-diff-discharge'
TROMBECTOMY = 'thrombectomyDone'
TROMBOLYSIS = 'thrombolysisIV'
TREATMENT = 'treatment'

GEN_LIST = [AGE, SEX, HEIGHT, WEIGHT, NIHSS_DISCHARGE]

# Diagnosis
BOOL_VTA = 'involvedVascularTerritorryArterior'
BOOL_VTL = 'involvedVascularTerritorryLeft'
BOOL_VTP = 'involvedVascularTerritorryPosterior'
BOOL_VTR = 'involvedVascularTerritorryRight'
BOOL_VTU = 'involvedVascularTerritorryUnknown'
BOOL_RFC = 'RiskFactorsCount'
BOOL_RFU = 'RiskFactorsUnknown'
BOOL_AFB = 'atrialFibrilation'
BOOL_CHF = 'congestiveHeartFailure'
BOOL_DIA = 'diabetes'
BOOL_HYL = 'hyperlipidemia'
BOOL_HYT = 'hypertension'
BOOL_SEM = 'previousStrokeEarlierThan3M'
BOOL_SWM = 'previousStrokeWithin3M'
BOOL_PTA = 'previousTIAOrAmaurosis'
BOOL_SC = 'smokerCurrent'
BOOL_SP = 'smokerPrevious'
BOOL_VD = 'vascularDisease'

DIAG_LIST = [
    BOOL_VTA, BOOL_VTL, BOOL_VTP, BOOL_VTR, #BOOL_VTU,
    BOOL_RFC, BOOL_RFU, BOOL_AFB, BOOL_CHF, BOOL_DIA,
    BOOL_HYL, BOOL_HYT, BOOL_SEM, BOOL_SWM, BOOL_PTA,
    BOOL_SC, BOOL_SP, BOOL_VD
    ]

In [3]:
df.sex = df.sex.replace('M', 1)
df.sex = df.sex.replace('F', 0)

# Fill NaN values for treatment columns (supposedly no treatment provided)
df[TROMBECTOMY] = df[TROMBECTOMY].fillna(0)
df[TROMBOLYSIS] = df[TROMBOLYSIS].fillna(0)

In [4]:
# Initialize Treatment Groups
trombectomyGroup = df.loc[(df[TROMBECTOMY] == True) & (df[TROMBOLYSIS] == False)]
print('Trombectomy rows: {}'.format(trombectomyGroup.shape[0]))

trombolysisGroup = df.loc[(df[TROMBECTOMY] == False) & (df[TROMBOLYSIS] == True)]
print('Trombolysis rows: {}'.format(trombolysisGroup.shape[0]))

bridgeGroup = df.loc[(df[TROMBECTOMY] == True) & (df[TROMBOLYSIS] == True)]
print('Bridge rows: {}'.format(bridgeGroup.shape[0]))

noTreatmentGroup = df.loc[(df[TROMBECTOMY] == False) & (df[TROMBOLYSIS] == False)]
print('No treatment rows: {}'.format(noTreatmentGroup.shape[0]))

Trombectomy rows: 66
Trombolysis rows: 1251
Bridge rows: 261
No treatment rows: 1312

Metoda pro doplnění chybějících hodnot ve sloupci náhodnými normálním rozdělením se střední hodnotou a variancí ze sloupce.

In [5]:
def fill_nan_with_unifrand(data_frame):
    a = data_frame.values
    m = np.isnan(a) # mask of NaNs
    mu, sigma = data_frame.mean(), data_frame.std()
    a[m] = np.random.normal(mu, sigma, size=m.sum())
    return df

In [6]:
import numpy as np

# Merge Data Frames back into 'df' variable
# df = pd.concat([trombectomyGroup, trombolysisGroup, bridgeGroup, noTreatmentGroup])
df = pd.concat([trombolysisGroup, trombectomyGroup, bridgeGroup])

# df['bridge'] = np.where(df.thrombectomyDone == 1 & df.thrombolysisIV == 1, 1, 0)

new_df = df.filter(GEN_LIST + DIAG_LIST, axis=1)

new_df[NIHSS_DISCHARGE] = df[NIHSS_DISCHARGE].fillna(0)
# new_df[NIHSS_DISCHARGE] = new_df[NIHSS] + new_df[NIHSS_DISCHARGE]

# Initialize TREATMENT column
new_df[TREATMENT] = np.where(new_df.age >= 65, 1, 0)

print('Number of rows: {}'.format(new_df.shape[0]))

new_df[HEIGHT] = fill_nan_with_unifrand(new_df[HEIGHT])

Number of rows: 1578

## Propensity Score Matching

### U pacientů ve věku do 65 let provedení léčebných postupů vede ke snížení NIHSS většímu než u pacientů nad 65 let

$H_0$: U pacientů ve věku do 65 let provedení léčebných postupů (Trombectomie, Trombolýza, Bridge) **NEVEDE** ke snížení NIHSS ve srovnání s pacienty nad 65 let. 

$H_A$: U pacientů ve věku do 65 let provedení léčebných postupů **VEDE** ke snížení NIHSS sledovaných pacientů ve srovnání s pacienty nad 65 let.

In [7]:
new_df.fillna(0, inplace=True)
new_df

,age,sex,heightvalue,weight,NIHSS-diff-discharge,involvedVascularTerritorryArterior,involvedVascularTerritorryLeft,involvedVascularTerritorryPosterior,involvedVascularTerritorryRight,RiskFactorsCount,...,diabetes,hyperlipidemia,hypertension,previousStrokeEarlierThan3M,previousStrokeWithin3M,previousTIAOrAmaurosis,smokerCurrent,smokerPrevious,vascularDisease,treatment
1,57.0,0.0,1.0,89.0,-4.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,72.0,1.0,0.0,77.0,-6.0,1.0,1.0,0.0,0.0,3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1
3,86.0,0.0,0.0,55.0,0.0,1.0,1.0,0.0,0.0,4.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,63.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
7,40.0,1.0,0.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2192,66.0,1.0,1.0,75.0,-8.0,1.0,0.0,0.0,1.0,4.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1
2194,72.0,1.0,0.0,86.0,-5.0,1.0,1.0,0.0,0.0,2.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1
2196,73.0,1.0,0.0,102.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2296,49.0,0.0,0.0,78.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2805,69.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [8]:
features = new_df.columns.tolist()
features.remove(TREATMENT)
features.remove(NIHSS_DISCHARGE)
features.remove(AGE)  # = TREATMENT

agg_operations = {TREATMENT: 'count'}
agg_operations.update({
    feature: ['mean', 'std'] for feature in features
})

table_one = new_df.groupby(TREATMENT).agg(agg_operations)
table_one

In [9]:
def compute_table_one_smd(tab_one: pd.DataFrame, round_digits: int=4) -> pd.DataFrame:
    feature_smds = []
    for feature in features:
        feature_table_one = tab_one[feature].values
        neg_mean = feature_table_one[0, 0]
        neg_std = feature_table_one[0, 1]
        pos_mean = feature_table_one[1, 0]
        pos_std = feature_table_one[1, 1]

        smd = (pos_mean - neg_mean) / np.sqrt((pos_std ** 2 + neg_std ** 2) / 2)
        smd = round(abs(smd), round_digits)
        feature_smds.append(smd)

    return pd.DataFrame({'features': features, 'smd': feature_smds})

In [21]:
table_one_smd = compute_table_one_smd(table_one)
table_one_smd

,features,smd
0,sex,0.2780
1,heightvalue,0.2411
2,weight,0.2288
3,involvedVascularTerritorryArterior,0.1524
4,involvedVascularTerritorryLeft,0.0527
5,involvedVascularTerritorryPosterior,0.1885
6,involvedVascularTerritorryRight,0.0815
7,RiskFactorsCount,0.6485
8,RiskFactorsUnknown,0.0443
9,atrialFibrilation,0.5820
10,congestiveHeartFailure,0.3720
11,diabetes,0.3676
12,hyperlipidemia,0.4197
13,hypertension,0.7240
14,previousStrokeEarlierThan3M,0.0515
15,previousStrokeWithin3M,0.2346
16,previousTIAOrAmaurosis,0.0846
17,smokerCurrent,0.7420
18,smokerPrevious,0.1087
19,vascularDisease,0.3723

Vytvoření matice příznaků (odstranění $y$ a prediktoru).
Standardizace numerických příznaků.

In [22]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

num_cols = [HEIGHT, WEIGHT]

death = new_df[NIHSS_DISCHARGE]
treatment = new_df[TREATMENT]
age = new_df[AGE]
df_cleaned = new_df.drop([NIHSS_DISCHARGE, TREATMENT, AGE], axis=1)

column_transformer = ColumnTransformer(
    [('numerical', StandardScaler(), num_cols)],
    sparse_threshold=0,
    remainder='passthrough'
)
data = column_transformer.fit_transform(df_cleaned)
data.shape

(1578, 20)

"Fitneme" model pro výpočet Propensity Scores.

In [23]:
from sklearn.linear_model import LogisticRegression

def fit_propensity_model(x, y):
    log_reg = LogisticRegression(solver='liblinear')
    log_reg.fit(x, y)

    prob_score = log_reg.predict_proba(x)[:, 1]
    return prob_score

In [24]:
pscore = fit_propensity_model(data, treatment)

In [25]:
mask = treatment == 1

pos_pscore = pscore[mask]
neg_pscore = pscore[~mask]
print('treatment count:', pos_pscore.shape)
print('control count:', neg_pscore.shape)

treatment count: (1193,)
control count: (385,)

In [26]:
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore')

# change default style figure and font size
plt.rcParams['figure.figsize'] = 8, 6
plt.rcParams['font.size'] = 12

ax = sns.distplot(neg_pscore, label='control')
ax = sns.distplot(pos_pscore, label='treatment')
plt.xlim(0, 1)
plt.title('Propensity Score Distribution of Control vs Treatment')
plt.ylabel('Density')
plt.xlabel('Scores')
plt.legend()
plt.tight_layout()
plt.show()

Provedeme matching.

In [27]:
from sklearn.neighbors import NearestNeighbors

def get_similar(pos_score: np.ndarray, neg_score: np.ndarray, topn: int=5, n_jobs: int=1):
    knn = NearestNeighbors(n_neighbors=topn + 1, metric='euclidean', n_jobs=n_jobs)
    knn.fit(neg_score.reshape(-1, 1))

    distances, indices = knn.kneighbors(pos_score.reshape(-1, 1))
    distances = distances[:, 1:]
    indices = indices[:, 1:]
    return distances, indices

In [32]:
_, sim_indices = get_similar(pos_pscore, neg_pscore, topn=1)
sim_indices

array([[ 62],
       [317],
       [310],
       ...,
       [115],
       [314],
       [319]])

In [33]:
df_cleaned[TREATMENT] = treatment
df_cleaned[NIHSS_DISCHARGE] = death
df_pos = df_cleaned[mask]
df_neg = df_cleaned[~mask].iloc[sim_indices[:, 0]]
df_matched = pd.concat([df_pos, df_neg], axis=0)
df_matched.head()

,sex,heightvalue,weight,involvedVascularTerritorryArterior,involvedVascularTerritorryLeft,involvedVascularTerritorryPosterior,involvedVascularTerritorryRight,RiskFactorsCount,RiskFactorsUnknown,atrialFibrilation,...,hyperlipidemia,hypertension,previousStrokeEarlierThan3M,previousStrokeWithin3M,previousTIAOrAmaurosis,smokerCurrent,smokerPrevious,vascularDisease,treatment,NIHSS-diff-discharge
2,1.0,0.0,77.0,1.0,1.0,0.0,0.0,3.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,-6.0
3,0.0,0.0,55.0,1.0,1.0,0.0,0.0,4.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0
15,1.0,0.0,80.0,0.0,1.0,1.0,0.0,4.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,-12.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0
18,1.0,0.0,82.0,0.0,1.0,1.0,1.0,4.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1,-6.0

In [34]:
table_one_matched = df_matched.groupby(TREATMENT).agg(agg_operations)
table_one_smd_matched = compute_table_one_smd(table_one_matched)
table_one_smd_matched

,features,smd
0,sex,0.2773
1,heightvalue,0.1290
2,weight,0.0738
3,involvedVascularTerritorryArterior,0.1940
4,involvedVascularTerritorryLeft,0.1481
5,involvedVascularTerritorryPosterior,0.0510
6,involvedVascularTerritorryRight,0.0223
7,RiskFactorsCount,0.0615
8,RiskFactorsUnknown,0.0418
9,atrialFibrilation,0.0855
10,congestiveHeartFailure,0.2148
11,diabetes,0.0775
12,hyperlipidemia,0.1533
13,hypertension,0.0260
14,previousStrokeEarlierThan3M,0.0915
15,previousStrokeWithin3M,0.1464
16,previousTIAOrAmaurosis,0.0573
17,smokerCurrent,0.0100
18,smokerPrevious,0.0519
19,vascularDisease,0.1930

In [35]:
from scipy.stats import stats

num_matched_pairs = df_neg.shape[0]
print('number of matched pairs: ', num_matched_pairs)

# pair t-test
stats.ttest_rel(df_pos[NIHSS_DISCHARGE].values, df_neg[NIHSS_DISCHARGE].values)

number of matched pairs:  1193

Ttest_relResult(statistic=-2.956476926963794, pvalue=0.0031730112046096217)